{{> partials/splash}}

[TOC]

## Details

- **Client** {{client_name}}
- **Date** {{date}}
- **Lead reviewer** Daniel Luca ([@cleanunicorn](https://twitter.com/cleanunicorn))
- **Reviewers** Daniel Luca ([@cleanunicorn](https://twitter.com/cleanunicorn)), Andrei Simion ([@andreiashu](https://twitter.com/andreiashu))
- **Repository**: [{{project_name}}]({{source_repository}})
- **Commit hash** `{{commit_hash}}`
- **Technologies**
  - Solidity
  - Node.JS

## Issues Summary

| SEVERITY       |    OPEN    |    CLOSED    |
|----------------|:----------:|:------------:|
{{#issues_summary}}
|  {{severity}}  |  {{open}}  |  {{closed}}  |
{{/issues_summary}}

## Executive summary

This report represents the results of the engagement with **{{client_name}}** to review **{{project_name}}**.

The review is part of a wider one, which includes several other components from the HaloDAO ecosystem: (Halo Rewards, Halo AMM, Halo Bridge, Halo Bridge Handler). It was conducted over the course of **{{review_period}}** from **{{date_interval}}**. A total of **{{person_days}} person-days** were spent reviewing the code.

## Scope

The initial review focused on the [{{project_name}}]({{source_repository}}) repository, identified by the commit hash `{{commit_hash}}`. ...

<!-- We focused on manually reviewing the codebase, searching for security issues such as, but not limited to, re-entrancy problems, transaction ordering, block timestamp dependency, exception handling, call stack depth limitation, integer overflow/underflow, self-destructible contracts, unsecured balance, use of origin, costly gas patterns, architectural problems, code readability. -->

**Includes:**

 - code/contracts/SecondaryBridge.sol
 - code/contracts/BaseBridge.sol
 - code/contracts/PrimaryBridge.sol

## Recommendations

We identified a few possible general improvements that are not security issues during the review, which will bring value to the developers and the community reviewing and using the product.

### Increase the number of tests

A good rule of thumb is to have 100% test coverage. This does not guarantee the lack of security problems, but it means that the desired functionality behaves as intended. The negative tests also bring a lot of value because not allowing some actions to happen is also part of the desired behavior.


## Issues

{{#issues}}

### [{{title}}]({{url}})
![Issue status: {{status}}](https://img.shields.io/static/v1?label=Status&message={{status}}&color={{status_color}}&style=flat-square) ![{{severity}}](https://img.shields.io/static/v1?label=Severity&message={{severity}}&color={{severity_color}}&style=flat-square)

{{{body}}}

---

{{/issues}}

## Artifacts

### Surya

Sūrya is a utility tool for smart contract systems. It provides a number of visual outputs and information about the structure of smart contracts. It also supports querying the function call graph in multiple ways to aid in the manual inspection and control flow analysis of contracts.

**Contracts Description Table**

```text
surya mdreport report.md code/contracts/*.sol

## Sūrya's Description Report

### Files Description Table

|  File Name  |  SHA-1 Hash  |
|-------------|--------------|
| code/contracts/BaseBridge.sol | 752cfb8c117edac90f87104444078d0ec5be2480 |
| code/contracts/IBurnable.sol | e6b632aa80ff808996b148e3f0adde37e0529056 |
| code/contracts/IMintable.sol | ef5d9ca863a3f6bb3dbfab573e293e4e9a524383 |
| code/contracts/Migrations.sol | 69b8fd36420e55cf1274bec2e70399dddcd700fc |
| code/contracts/MockToken.sol | cafd16a26f3b04f9d7d70014fe2671d3b628edfc |
| code/contracts/PrimaryBridge.sol | 3e7e0fffa8354618c19787f6290d27c32e92248b |
| code/contracts/SecondaryBridge.sol | 40f5eb2252854ba80e3c8eac9c94151c38514400 |


### Contracts Description Table

|  Contract  |         Type        |       Bases      |                  |                 |
|:----------:|:-------------------:|:----------------:|:----------------:|:---------------:|
|     └      |  **Function Name**  |  **Visibility**  |  **Mutability**  |  **Modifiers**  |
||||||
| **BaseBridge** | Implementation | Ownable |||
| └ | balanceOf | External ❗️ |   |NO❗️ |
| └ | bridgeToken | External ❗️ |   |NO❗️ |
| └ | updateAuthorised | Public ❗️ | 🛑  | onlyOwner |
||||||
| **IBurnable** | Interface |  |||
| └ | burnFrom | External ❗️ | 🛑  |NO❗️ |
||||||
| **IMintable** | Interface | IERC20 |||
| └ | mint | External ❗️ | 🛑  |NO❗️ |
||||||
| **Migrations** | Implementation |  |||
| └ | setCompleted | Public ❗️ | 🛑  | restricted |
||||||
| **MockToken** | Implementation | IERC20, ERC20Burnable, Ownable |||
| └ | <Constructor> | Public ❗️ | 🛑  | ERC20 |
| └ | mint | External ❗️ | 🛑  |NO❗️ |
||||||
| **PrimaryBridge** | Implementation | BaseBridge |||
| └ | <Constructor> | Public ❗️ | 🛑  |NO❗️ |
| └ | deposit | External ❗️ | 🛑  |NO❗️ |
| └ | release | External ❗️ | 🛑  | onlyAuthorised |
||||||
| **SecondaryBridge** | Implementation | BaseBridge |||
| └ | <Constructor> | Public ❗️ | 🛑  |NO❗️ |
| └ | mint | External ❗️ | 🛑  | onlyAuthorised |
| └ | burn | External ❗️ | 🛑  |NO❗️ |

### Legend

|  Symbol  |  Meaning  |
|:--------:|-----------|
|    🛑    | Function can modify state |
|    💵    | Function is payable |
```


#### Graphs

***PrimaryBridge***

```text
surya graph code/contracts/PrimaryBridge.sol | dot -Tpng > ./static/PrimaryBridge_Contract.png
```

![PrimaryBridge Graph](./static/PrimaryBridge_Contract.png)

***SecondaryBridge***

```text
surya graph code/contracts/SecondaryBridge.sol | dot -Tpng > ./static/SecondaryBridge_Contract.png
```

![SecondaryBridge Graph](./static/SecondaryBridge_Contract.png)

#### Inheritance

```text
surya inheritance code/contracts/PrimaryBridge.sol | dot -Tpng > ./static/PrimaryBridge_inheritance.png
```
![PrimaryBridge Inheritance](./static/PrimaryBridge_inheritance.png)


```text
surya inheritance code/contracts/SecondaryBridge.sol | dot -Tpng > ./static/SecondaryBridge_inheritance.png
```
![SecondaryBridge Inheritance](./static/SecondaryBridge_inheritance.png)

#### Describe

```text
$ npx surya describe ./code/contracts/PrimaryBridge.sol
 +  PrimaryBridge (BaseBridge)
    - [Pub] <Constructor> #
    - [Ext] deposit #
    - [Ext] release #
       - modifiers: onlyAuthorised


 ($) = payable function
 # = non-constant function
```

```text
$ npx surya describe ./code/contracts/SecondaryBridge.sol
 +  SecondaryBridge (BaseBridge)
    - [Pub] <Constructor> #
    - [Ext] mint #
       - modifiers: onlyAuthorised
    - [Ext] burn #


 ($) = payable function
 # = non-constant function
```

### Coverage

```text
$ yarn add  --dev solidity-coverage

# added import "solidity-coverage" to hardhat.config.ts file

$ npx hardhat coverage

Version
=======
> solidity-coverage: v0.7.16

Instrumenting for coverage...
=============================

> BaseBridge.sol
> IBurnable.sol
> IMintable.sol
> Migrations.sol
> MockToken.sol
> PrimaryBridge.sol
> SecondaryBridge.sol

Compilation:
============

Compiling 15 files with 0.8.6
Generating typings for: 15 artifacts in dir: typechain for target: ethers-v5
Successfully generated 27 typings!
Compilation finished successfully

Network Info
============
> HardhatEVM: v2.4.1
> network:    hardhat

No need to generate any newer typings.


  PrimaryBridge
===================Deploying Contracts=====================
mock contract deployed at 0x668eD30aAcC7C7c206aAF1327d733226416233E2
Primary bridge contract deployed at 0x50D75C1BC6a1cE35002C9f92D0AF4B3684aa6B74
    ✓ should have no tokens held on deploy
    ✓ should not be able to deposit 0 tokens (63ms)
    ✓ should deposit 10 tokens from addr 1 on chain 1 and release 5 back (240ms)
    ✓ should not release tokens from unauthorised account
    ✓ should revert when trying to release 0 tokens
    ✓ should revert if chain balance is insufficent

  SecondaryBridge
===================Deploying Contracts=====================
mock contract deployed at 0xD63259B15E88DFDC994A90104a2c7226CE3ECa69
bridge contract deployed at 0x13E07a1dC038B61cbDb1D501221Ec634cC4a7013
    ✓ should have no tokens issued on deploy
    mint functions
      ✓ should not mint tokens from unauthorised account
      ✓ should not mint 0 tokens
      ✓ should not mint to address 0
      ✓ should mint 10 tokens to addr1 (92ms)
    burn functions
      ✓ should not burn 0 tokens
      ✓ should not burn more than the amount issued (51ms)
      ✓ should not burn 10 tokens from addr 1 without approval (55ms)
      ✓ should burn 10 tokens from addr 1 (89ms)


  15 passing (2s)

----------------------|----------|----------|----------|----------|----------------|
File                  |  % Stmts | % Branch |  % Funcs |  % Lines |Uncovered Lines |
----------------------|----------|----------|----------|----------|----------------|
 contracts/           |    90.48 |       75 |    78.57 |    88.64 |                |
  BaseBridge.sol      |       60 |       50 |       75 |    66.67 |          20,21 |
  IBurnable.sol       |      100 |      100 |      100 |      100 |                |
  IMintable.sol       |      100 |      100 |      100 |      100 |                |
  Migrations.sol      |        0 |        0 |        0 |        0 |        9,13,17 |
  MockToken.sol       |      100 |      100 |      100 |      100 |                |
  PrimaryBridge.sol   |      100 |     87.5 |      100 |      100 |                |
  SecondaryBridge.sol |      100 |       90 |      100 |      100 |                |
----------------------|----------|----------|----------|----------|----------------|
All files             |    90.48 |       75 |    78.57 |    88.64 |                |
----------------------|----------|----------|----------|----------|----------------|

> Istanbul reports written to ./coverage/ and ./coverage.json

```

### Tests

```text
❯ yarn run test
yarn run v1.22.4
$ npx hardhat test
Downloading compiler 0.8.6
Compiling 15 files with 0.8.6
Generating typings for: 15 artifacts in dir: typechain for target: ethers-v5
Successfully generated 27 typings!
Compilation finished successfully

  PrimaryBridge
===================Deploying Contracts=====================
mock contract deployed at 0x668eD30aAcC7C7c206aAF1327d733226416233E2
Primary bridge contract deployed at 0x50D75C1BC6a1cE35002C9f92D0AF4B3684aa6B74
    ✓ should have no tokens held on deploy
    ✓ should not be able to deposit 0 tokens
    ✓ should deposit 10 tokens from addr 1 on chain 1 and release 5 back
    ✓ should not release tokens from unauthorised account
    ✓ should revert when trying to release 0 tokens
    ✓ should revert if chain balance is insufficent

  SecondaryBridge
===================Deploying Contracts=====================
mock contract deployed at 0xD63259B15E88DFDC994A90104a2c7226CE3ECa69
bridge contract deployed at 0x13E07a1dC038B61cbDb1D501221Ec634cC4a7013
    ✓ should have no tokens issued on deploy
    mint functions
      ✓ should not mint tokens from unauthorised account
      ✓ should not mint 0 tokens
      ✓ should not mint to address 0
      ✓ should mint 10 tokens to addr1
    burn functions
      ✓ should not burn 0 tokens
      ✓ should not burn more than the amount issued
      ✓ should not burn 10 tokens from addr 1 without approval
      ✓ should burn 10 tokens from addr 1

·-------------------------------|----------------------------|-------------|-----------------------------·
|      Solc version: 0.8.6      ·  Optimizer enabled: false  ·  Runs: 200  ·  Block limit: 12450000 gas  │
································|····························|·············|······························
|  Methods                                                                                               │
····················|···········|··············|·············|·············|···············|··············
|  Contract         ·  Method   ·  Min         ·  Max        ·  Avg        ·  # calls      ·  eur (avg)  │
····················|···········|··············|·············|·············|···············|··············
|  MockToken        ·  approve  ·       46832  ·      46844  ·      46838  ·            2  ·          -  │
····················|···········|··············|·············|·············|···············|··············
|  MockToken        ·  mint     ·           -  ·          -  ·      51969  ·            2  ·          -  │
····················|···········|··············|·············|·············|···············|··············
|  PrimaryBridge    ·  deposit  ·           -  ·          -  ·     100070  ·            2  ·          -  │
····················|···········|··············|·············|·············|···············|··············
|  PrimaryBridge    ·  release  ·           -  ·          -  ·      77870  ·            2  ·          -  │
····················|···········|··············|·············|·············|···············|··············
|  SecondaryBridge  ·  burn     ·           -  ·          -  ·      40939  ·            2  ·          -  │
····················|···········|··············|·············|·············|···············|··············
|  SecondaryBridge  ·  mint     ·       52844  ·      69944  ·      64244  ·            3  ·          -  │
····················|···········|··············|·············|·············|···············|··············
|  Deployments                  ·                                          ·  % of limit   ·             │
································|··············|·············|·············|···············|··············
|  MockToken                    ·           -  ·          -  ·    1905097  ·       15.3 %  ·          -  │
································|··············|·············|·············|···············|··············
|  PrimaryBridge                ·           -  ·          -  ·    1476216  ·       11.9 %  ·          -  │
································|··············|·············|·············|···············|··············
|  SecondaryBridge              ·           -  ·          -  ·    1137606  ·        9.1 %  ·          -  │
·-------------------------------|--------------|-------------|-------------|---------------|-------------·

  15 passing (3s)

✨  Done in 23.37s.

```

## License

This report falls under the terms described in the included [LICENSE](./LICENSE).

{{> partials/features}}
<link rel="stylesheet" href="./style/print.css"/>
